body{
    margin: 0;
}

header{
    margin: 0;
    padding: 0;
}

.navigationBar{
    width: 100%;
    background-color: #F7F9FF;
    padding: 10px;

    display: flex;
    align-items: center;
}

.logoPagina{
    display: flex;
    align-items: center;
    gap: 10px;
}

.textoLogo{
    color: #001E40;
    font-size: 2.2vw;
    font-family: 'Liberation Serif', serif;
    text-decoration: none;
}
.seccionesNavegacion{
    flex: 1;
    display: flex;
    justify-content: center;
}

.listaSecciones{
    display: flex;
    list-style: none;
    gap: 2vw;
    align-items: center;

    margin: 0;
}

.listaSecciones a{
    text-decoration: none;
    color: #181C20;
    font-size: 1.1vw;
    white-space: nowrap;
}

.listaSecciones a:hover{
    color: #001E40;
    font-weight: bold;
    border-bottom: 3px solid #8B5E3C;
}




.footer{
    background-color: #001E40;
    padding-top: 4%;
}

.contenidoFooter{
    display: flex;
    justify-content: space-between;

    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 4%;
}

.columnaFooter{
    display: flex;
    flex-direction: column;
}

.tituloFooter{
    color: #FD8B00;
    font-family: 'Noto Serif', serif;
    font-size: 1.6vw;
}

.textoFooter{
    color: #B8C7E0;
    line-height: 1.8;
}

.redesFooter{
    display: flex;
    gap: 20px;

    margin-top: 5%;
}

.redesFooter i{
    color: #FD8B00;
    font-size: 1.4vw;

    cursor: pointer;
    transition: 0.3s ease;
}

.redesFooter i:hover{
    transform: translateY(-3px);
}

.columnaFooter a{
    text-decoration: none;
    color: #B8C7E0;

    margin-bottom: 10%;

    transition: 0.3s ease;
}

.columnaFooter a:hover{
    color: #FFFFFF;
}

.textoNewsletter{
    color: #B8C7E0;
}

.inputNewsletter{
    display: flex;
    align-items: center;
    gap: 10px;
}

.inputNewsletter input{
    background-color: rgba(255,255,255,0.1);

    border: 1px solid rgba(255,255,255,0.1);

    border-radius: 8px;

    padding: 12px;

    color: white;

    width: 16vw;
}

.inputNewsletter input::placeholder{
    color: #8FA6C9;
}

.inputNewsletter button{
    background-color: #FD8B00;

    border: none;

    width: 45px;
    height: 45px;

    border-radius: 8px;

    cursor: pointer;

    transition: 0.3s ease;
}

.inputNewsletter button:hover{
    transform: translateY(-3px);
}

.inputNewsletter button i{
    color: #001E40;
}

.parteInferiorFooter{
    border-top: 1px solid rgba(255,255,255,0.1);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 1.5% 4%;
}

.parteInferiorFooter p{
    color: #7E93B3;
}

.idiomaFooter{
    display: flex;
    gap: 30px;
}